// SPDX-License-Identifier: GPL-2.0
/*
 * DTS file for Phytium E2000S test board
 *
 * Copyright (C) 2022, Phytium Technology Co., Ltd.
 */

/dts-v1/;
/memreserve/ 0x80000000 0x10000;

#include "e2000s.dtsi"

/{
	model = "E2000S EVB Board by Fan lizheng";
	compatible = "phytium,e2000s";

	chosen {
		stdout-path = "serial1:115200n8";
	};

	memory@00{
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x7a000000>;
	};

        iio-hwmon {
                compatible = "iio-hwmon";
                io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
                        <&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>, <&adc1 0> ;
        };
};


&pcie {
	status = "okay";
};

&usb2_0 {
	dr_mode = "peripheral";
	status = "okay";
};

&usb2_1 {
	dr_mode = "peripheral";
	status = "okay";
};

&usb2_2 {
	dr_mode = "peripheral";
	status = "okay";
};

&usb2_3 {
	dr_mode = "peripheral";
	status = "okay";
};

&usb2_4 {
	dr_mode = "peripheral";
	status = "okay";
};

&macb0 {
	phy-mode = "rmii";
	use-mii;
	status = "okay";
};

&macb1 {
	phy-mode = "rmii";
	use-mii;
	use-ncsi;
	status = "okay";
};

&dc0 {
	pipe_mask = /bits/ 8 <0x3>;
	edp_mask = /bits/ 8 <0x0>;
	status = "okay";
};

&qspi0 {
	status = "okay";
	flash@0 {
		#include "openbmc-e2000-flash-layout.dtsi"
	};
};

&spi0 {
	status = "okay";

	flash: w25q128@0 {
		compatible ="winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <12000000>;
		reg = <0>;
	};

	spi_dev: spi_dev@1 {
		compatible = "spidev";
		spi-max-frequency = <12000000>;
		reg = <1>;
	};
};

&pwm0 {
	phytium,db = <0 0 0 0 0 0>;
	status = "okay";
};

&pwm1 {
	phytium,db = <0 0 0 1000 1000 0>;
	status = "okay";
};

&pwm2 {
	phytium,db = <0 0 0 1000 1000 1>;
	status = "okay";
};

&pwm3 {
	phytium,db = <0 0 0 1000 1000 2>;
	status = "okay";
};

&pwm4 {
	phytium,db = <0 0 0 0 0 0>;
	status = "okay";
};

&pwm5 {
	phytium,db = <0 0 0 0 0 0>;
	status = "okay";
};

&pwm6 {
	phytium,db = <0 0 0 0 0 0>;
	status = "okay";
};

&pwm7 {
	phytium,db = <0 0 0 0 0 0>;
	status = "okay";
};

&tacho0 {
	status = "okay";
};

&tacho1 {
	status = "okay";
};

&spi1 {
	status = "okay";
};

&spi2 {
	status = "okay";
};

&spi3 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&sgpio {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&gpio4 {
	status = "okay";
};

&gpio5 {
	status = "okay";
};

&adc0 {
	status = "okay";
};



&mio0 {
        status = "okay";
};

&mio1 {
        status = "okay";
};

&mio4 {
        status = "okay";
};

&mio5 {
        status = "okay";
};

&mio6 {
        status = "okay";
};


&kcs0 {
        kcs_chan = <1>;
        kcs_addr = <0xca0>;
        status = "okay";
};
&kcs1 {
        kcs_chan = <2>;
        kcs_addr = <0xca8>;
        status = "okay";
};
&kcs2 {
        kcs_chan = <3>;
        kcs_addr = <0xcb2>;
        status = "okay";
};
&kcs3 {
        kcs_chan = <4>;
        kcs_addr = <0xcb0>;
        status = "okay";
};
&ibt {
        status = "okay";
};


